.btn-cancel{
    margin-left:10px;

}
li.post{
    height: 50px;
}
.post span{
    float: left;
}
.post strong{
    float: right;
}
.delete{
    float: right;
}

.fade-enter{
    right: 100px;
}

.fade-enter-active{
    right:0px;
    transition: .5s ease-in all;
}