.btn-cancel{
    margin-left:10px;

}
li.post{
    height: 50px;
}
.post span{
    float: left;
}
.post strong{
    float: right;
}
.delete{
    float: right;
}

.fade-enter{
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
}

.fade-enter-active{
    opacity:1;
    transform: rotateX(0deg) rotateZ(0deg);
    transition: .5s ease-in all;
}

.fade-leave{
    /*css to end the animation*/
}

.fade-leave-active{
    /*css to end the animation*/
}